@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@layer theme {
    :root {
        --color-background: var(--color-gray-50);
        --color-foreground: var(--color-gray-900);
    }
}

/* Custom Leaflet Popup Styling */
.leaflet-popup-content-wrapper {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 12px !important;
}

.leaflet-popup-content {
    margin: 0 !important;
    width: auto !important;
}

.leaflet-popup-tip {
    background: white;
}